@model IEnumerable<LigaAmatorska.Domain.Entities.Mecz>
@{
    ViewData["Title"] = "Lista Meczów";
}

<h2 class="text-left my-4">Harmonogram</h2>

<div class="text-left mb-4">
    <a class="btn btn-primary" asp-controller="Games" asp-action="DodajMecz">Dodaj Mecz</a>
</div>

@if (!Model.Any())
{
    <div class="alert alert-info text-center">
        Brak danych
    </div>
}
else
{
    <div class="list-group">
        @foreach (var mecz in Model)
        {
            <div class="list-group-item d-flex justify-content-between align-items-center">
                <div class="d-flex justify-content-between align-items-center flex-grow-1">
                    <span class="text-left" style="flex-basis: 0; flex-grow: 1;">@mecz.DruzynaA.Nazwa</span>
                    <span class="text-center mx-3" style="flex-basis: 100px;">@mecz.WynikA : @mecz.WynikB</span>
                    <span class="text-right" style="flex-basis: 0; flex-grow: 1;">@mecz.DruzynaB.Nazwa</span>
                </div>
                <div class="d-flex align-items-center">
                    <span class="badge badge-primary text-dark">@mecz.DataGodzina.ToString("g")</span>
                    <a class="btn btn-secondary ml-3" asp-controller="Games" asp-action="AktualizujWynikMeczu" asp-route-id="@mecz.Id">Aktualizuj wynik meczu</a>
                </div>
            </div>
        }
    </div>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}