@model IEnumerable<LigaAmatorska.Domain.Entities.WynikiDruzyny>
@{
    ViewData["Title"] = "Wyniki Drużyn";
}

<h2>Wyniki Drużyn</h2>

@if (!Model.Any())
{
    <p>Brak danych</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Wygrane</th>
                <th>Przegrane</th>
                <th>Punkty Duże</th>
                <th>Punkty Zdobyte</th>
                <th>Punkty Stracone</th>
                <th>Mecze Rozegrane</th>
                <th>Punkty Średnie Zdobyte</th>
                <th>Punkty Średnie Stracone</th>
                <th>Punkty Max Zdobyte</th>
                <th>Punkty Max Stracone</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var wyniki in Model)
            {
                <tr>
                    <td>@wyniki.Id</td>
                    <td>@wyniki.Wygrane</td>
                    <td>@wyniki.Przegrane</td>
                    <td>@wyniki.PunktyDuże</td>
                    <td>@wyniki.PunktyZdobyte</td>
                    <td>@wyniki.PunktyStracone</td>
                    <td>@wyniki.MeczeRozegrane</td>
                    <td>@wyniki.PunktySrednieZdobyte</td>
                    <td>@wyniki.PunktySrednieStracone</td>
                    <td>@wyniki.PunktyMaxZdobyte</td>
                    <td>@wyniki.PunktyMaxStracone</td>
                </tr>
            }
        </tbody>
    </table>
}
