@model List<LigaAmatorska.Presentation.Models.TabelaDruzynaViewModel>
@{
    ViewData["Title"] = "Wyniki Drużyn";
}

<h2>Wyniki Drużyn</h2>

@if (!Model.Any())
{
    <p>Brak danych</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nazwa</th>
                <th>Wygrane</th>
                <th>Przegrane</th>
                <th>Punkty</th>
                <th>Mecze rozegrane</th>
                <th>Punkty zdobyte</th>
                <th>Punkty stracone</th>
                <th>Średnia punktów zdobytych</th>
                <th>Średnia punktów straconych</th>
                <th>Max Punkty Zdobyte</th>
                <th>Min Punkty Stracone</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var wyniki in Model)
            {
                <tr>
                    <td>@wyniki.Nazwa</td>
                    <td>@wyniki.Wyniki.Wygrane</td>
                    <td>@wyniki.Wyniki.Przegrane</td>
                    <td>@wyniki.Wyniki.PunktyDuże</td>
                    <td>@wyniki.Wyniki.MeczeRozegrane</td>
                    <td>@wyniki.Wyniki.PunktyZdobyte</td>
                    <td>@wyniki.Wyniki.PunktyStracone</td>
                    <td>@wyniki.Wyniki.PunktySrednieZdobyte</td>
                    <td>@wyniki.Wyniki.PunktySrednieStracone</td>
                    <td>@wyniki.Wyniki.PunktyMaxZdobyte</td>
                    <td>@wyniki.Wyniki.PunktyMaxStracone</td>
                </tr>
            }
        </tbody>
    </table>
}
